<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmh.infrastructure.dao.IdempotencyKeysDao">

    <resultMap id="BaseMap" type="com.zmh.infrastructure.po.IdempotencyKeysPO">
        <id column="id" property="id"/>
        <id column="idempotency_key" property="idempotencyKey"/>
        <result column="request_payload" property="requestPayload"/>
        <result column="response_payload" property="responsePayload"/>
        <result column="trans_code" property="transCode"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
    </resultMap>

    <insert id="insertIdempotencyKeys" parameterType="com.zmh.infrastructure.po.IdempotencyKeysPO">
        insert into idempotency_keys ( idempotency_key, request_payload
                                     , response_payload, trans_code)
        values (#{idempotencyKey}, #{requestPayload}, #{responsePayload}, #{transCode})
    </insert>

</mapper>